img {
  width: 100%; }

body {
  background: black; }

.wrapper {
  overflow: hidden; }

#header {
  width: 100%;
  background: black;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  padding: 10px;
  position: relative; }

.header_logo {
  margin: 0 auto 0 0;
  width: 150px; }

.web_link {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  width: 220px; }

.web_link_ch {
  margin: 0 auto; }

.sns_link_ig {
  width: 30px; }

.sns_link_fb {
  width: 15px; }

.header_book_link {
  padding: 10px 20px;
  border: 1px solid white; }

.header_book_tx a {
  color: white;
  font-size: 14px;
  font-family: "FuturaStd-Light"; }

#mv {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  height: 600px; }

.mv-left {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.bg-video {
  height: 100%;
  z-index: -100;
  background-size: cover; }

.city_center {
  position: absolute;
  top: 12%;
  right: 46%;
  bottom: 0;
  margin: auto;
  width: 30%; }

.mv_left_img2 {
  position: absolute;
  top: -58%;
  right: 57%;
  margin: auto;
  width: 10%;
  z-index: 100;
  animation-name: mv_left_img2_fadeIn;
  animation-duration: 3s; }

.mv_left_img3 {
  position: absolute;
  bottom: -5%;
  right: 27%;
  margin: auto;
  height: 340px;
  width: 30%;
  z-index: 100; }

.mv_left_img3 img {
  height: 100%; }

.mv_left_material {
  position: absolute;
  top: 65%;
  bottom: 0;
  right: 30%;
  left: 0;
  margin: auto;
  width: 30%;
  z-index: 100;
  animation-name: mv_material_fadeIn;
  animation-duration: 3s; }

.mv-right {
  width: 50%;
  height: 100%;
  background: url(../images/nsplsh_4c374a47435f6267577955_mv2_d_5611_3156_s_4_2.jpg) center center no-repeat;
  background-size: cover;
  position: relative; }

.mv_right_img1 {
  position: absolute;
  top: 67%;
  bottom: 0;
  right: 0;
  left: -20%;
  margin: auto;
  width: 120%;
  z-index: 100; }

.mv_right_img1 img {
  height: 100px; }

.mv_right_material {
  position: absolute;
  top: 30%;
  bottom: 0;
  right: 0;
  left: 20%;
  margin: auto;
  width: 40%;
  z-index: 100;
  animation-name: mv_material_fadeIn;
  animation-duration: 3s; }

.mv_logo {
  position: absolute;
  top: 24%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16%;
  z-index: 1000; }

#lead {
  background: url(../images/mv2.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  margin: 10% 0 0 0;
  padding: 8% 0 0 0; }
  #lead .lead_tx_wrap {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5% 0;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    position: relative; }
    #lead .lead_tx_wrap h4 {
      text-align: center;
      color: #FFFFFF; }
    #lead .lead_tx_wrap p {
      text-align: center;
      color: #FFFFFF; }
    #lead .lead_tx_wrap .lead_item_title {
      font-family: "FuturaStd-Light";
      font-size: 16px;
      margin-bottom: 3%;
      letter-spacing: 0.1em;
      line-height: 1.2em;
      width: 20%;
      margin: 0 auto 5% auto; }
    #lead .lead_tx_wrap .content_item_title {
      margin-bottom: 3%;
      font-size: 24px;
      font-family: "Sawarabi Mincho";
      font-weight: lighter;
      letter-spacing: 0.2em;
      line-height: 1.2em; }
    #lead .lead_tx_wrap .lead_tx {
      font-family: "Sawarabi Mincho";
      font-weight: lighter;
      font-size: 14px;
      letter-spacing: 0.2em;
      line-height: 2em; }
    #lead .lead_tx_wrap .lead_tx_date {
      font-size: 24px;
      margin-top: 5%;
      font-family: "FuturaStd-Light";
      letter-spacing: 0.2em;
      width: 60%;
      margin: 10% auto 0 auto; }
    #lead .lead_tx_wrap .lead_asakusa_img {
      position: absolute;
      left: -40%;
      top: 30%;
      width: 50%; }
    #lead .lead_tx_wrap .lead_material1 {
      position: absolute;
      left: -38%;
      top: 75%;
      width: 50%; }
    #lead .lead_tx_wrap .lead_img2 {
      position: absolute;
      right: -15%;
      top: 60%;
      width: 30%; }
    #lead .lead_tx_wrap .lead_material2 {
      position: absolute;
      right: -20%;
      top: 20%;
      width: 30%; }
    #lead .lead_tx_wrap .sp_lead_material1 {
      position: absolute;
      left: -55%;
      top: 20%;
      width: 100%;
      opacity: 0.5;
      z-index: -1; }
    #lead .lead_tx_wrap .sp_lead_material2 {
      position: absolute;
      left: -30%;
      top: 95%;
      width: 70%;
      z-index: -1; }

#hotel_param {
  padding: 10% 0 3% 0; }
  #hotel_param .param_material2 {
    width: 30%;
    margin: -5% auto 10% 0; }
  #hotel_param .hotel_param_wrap {
    width: 65%;
    margin: 0 auto;
    color: #FFFFFF; }
    #hotel_param .hotel_param_wrap .room-bottom {
      margin-top: 10%; }
    #hotel_param .hotel_param_wrap .room {
      display: flex;
      display: -webkit-flex;
      margin-bottom: 8%; }
      #hotel_param .hotel_param_wrap .room .img_right {
        margin: 12% auto 0 auto;
        width: 45%;
        position: relative; }
      #hotel_param .hotel_param_wrap .room .param_material1 {
        position: absolute;
        width: 45%;
        top: 10%;
        right: -20%;
        z-index: 100; }
      #hotel_param .hotel_param_wrap .room .img_left {
        width: 100%;
        position: relative; }
        #hotel_param .hotel_param_wrap .room .img_left .attention_access {
          position: absolute;
          top: -15%;
          left: -15%;
          width: 35%;
          z-index: 100; }
      #hotel_param .hotel_param_wrap .room .room_tx {
        margin: 0 auto; }
        #hotel_param .hotel_param_wrap .room .room_tx .param_item_title {
          font-family: "FuturaStd-Light";
          font-size: 44px;
          letter-spacing: 0.2em;
          line-height: 1.6em;
          width: 45%; }
        #hotel_param .hotel_param_wrap .room .room_tx .title_right {
          display: inline-block; }
          #hotel_param .hotel_param_wrap .room .room_tx .title_right img {
            text-align: right; }
        #hotel_param .hotel_param_wrap .room .room_tx .param_item_sub_title {
          font-family: "Sawarabi Mincho";
          font-size: 20px;
          letter-spacing: 0.2em;
          margin-bottom: 12%; }
        #hotel_param .hotel_param_wrap .room .room_tx .param_item_tx {
          font-family: "Sawarabi Mincho";
          font-size: 14px;
          letter-spacing: 0.3em;
          line-height: 2em; }
        #hotel_param .hotel_param_wrap .room .room_tx .view_more {
          border: 1px solid #FFF;
          padding: 10px 20px;
          font-family: "FuturaStd-Light";
          letter-spacing: 0.1em;
          margin-top: 12%;
          text-align: center;
          width: 80%; }
        #hotel_param .hotel_param_wrap .room .room_tx .view_more:hover {
          background: #7E6B5A; }
        #hotel_param .hotel_param_wrap .room .room_tx .view_more_right {
          margin: 12% 0 0 auto; }

#footer {
  position: relative; }
  #footer .copy_right {
    position: absolute;
    right: 2%;
    bottom: -15%;
    font-family: "sawarabi-mincho"; }
    #footer .copy_right .copy_right_tx {
      font-size: 8px;
      color: #FFFFFF;
      text-align: left; }
  #footer .footer_wrap {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    width: 70%;
    margin: 0 auto 3% auto; }
    #footer .footer_wrap .footer_left {
      margin: 0 auto;
      padding-top: 5%;
      width: 50%;
      border-right: 1px solid #FFFFFF; }
      #footer .footer_wrap .footer_left .footer_left_img {
        width: 60%;
        margin: 0 auto; }
    #footer .footer_wrap .footer_right {
      margin: 0 auto;
      padding: 5% 0 0 10%;
      width: 50%;
      color: #FFFFFF;
        color-display: none; }
      #footer .footer_wrap .footer_right .footer_right_tx .access1 {
        font-family: "sawarabi-mincho";
        line-height: 3em;
        font-size: 12px;
        text-align: left;
        letter-spacing: 0.2em; }
      #footer .footer_wrap .footer_right .footer_right_tx .access2 {
        font-family: "sawarabi-mincho";
        line-height: 3em;
        font-size: 12px;
        text-align: left;
        letter-spacing: 0.2em; }
      #footer .footer_wrap .footer_right .footer_right_tx .access3 {
        font-family: "sawarabi-mincho";
        line-height: 3em;
        font-size: 12px;
        text-align: left;
        letter-spacing: 0.2em; }
      #footer .footer_wrap .footer_right .footer_right_tx .access4 {
        font-family: "sawarabi-mincho";
        line-height: 3em;
        font-size: 12px;
        text-align: left;
        letter-spacing: 0.2em; }
      #footer .footer_wrap .footer_right .footer_right_tx .access5 {
        font-size: 18px;
        font-family: "FuturaStd-Light";
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 3px;
        text-align: left;
        margin: 7% 0;
        letter-spacing: 0.2em;
        display: inline-block; }
        #footer .footer_wrap .footer_right .footer_right_tx .access5 a {
          color: #FFFFFF; }
      #footer .footer_wrap .footer_right .footer_right_tx .other_hotels .other_hotels_tx {
        text-align: left;
        letter-spacing: 0.2em;
        font-size: 16px;
        line-height: 2em;
        font-family: "FuturaStd-Light";
        margin-bottom: 3%; }
      #footer .footer_wrap .footer_right .footer_right_tx .other_hotels .other_hotels_imgs {
        display: flex;
        display: -webkit-flex;
        align-items: flex-end;
        margin-bottom: 3%; }
        #footer .footer_wrap .footer_right .footer_right_tx .other_hotels .other_hotels_imgs img {
          width: 20%;
          margin: 0 auto; }

#sp_mv {
  display: none;
  height: 700px; }
  #sp_mv .sp_mv_wrap {
    height: 100%;
    position: relative; }
    #sp_mv .sp_mv_wrap .sp_mv_logo {
      position: absolute;
      top: 24%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 60%;
      z-index: 1000; }
    #sp_mv .sp_mv_wrap .mv_date {
      position: absolute;
      top: 80%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 80%;
      z-index: 1000; }
    #sp_mv .sp_mv_wrap .sp_mv_higher {
      height: 50%;
      background: url(../images/nsplsh_4c374a47435f6267577955_mv2_d_5611_3156_s_4_2.jpg) center center no-repeat;
      background-size: cover;
      position: relative; }
      #sp_mv .sp_mv_wrap .sp_mv_higher .higher_img {
        position: absolute;
        top: 40%;
        left: 0;
        width: 80%; }
    #sp_mv .sp_mv_wrap .sp_mv_lower_wrap {
      height: 50%;
      display: flex;
      display: -webkit-flex; }
      #sp_mv .sp_mv_wrap .sp_mv_lower_wrap .sp_mv_lower1 {
        height: 100%;
        background: url(../images/nsplsh_6d4b6f4b454841726c6d73_mv2_d_3690_5588_s_4_2.jpg) center center no-repeat;
        background-size: cover;
        width: 50%; }
      #sp_mv .sp_mv_wrap .sp_mv_lower_wrap .sp_mv_lower2 {
        height: 100%;
        width: 50%;
        position: relative; }
        #sp_mv .sp_mv_wrap .sp_mv_lower_wrap .sp_mv_lower2 .lower_img {
          position: absolute;
          top: 60%;
          right: -40%;
          width: 100%;
          z-index: 10; }

.sp_lead_material1, .sp_lead_material2 {
  display: none; }

@keyframes mv_material_fadeIn {
  from {
    opacity: 0;
    transform: translateX(-400px); }
  to {
    opacity: 1;
    transform: translate(0); } }
@keyframes mv_left_img2_fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
.left {
  text-align: left; }

.right {
  text-align: right; }

.order_2 {
  order: 2; }

.pc_none {
  display: none; }

/*# sourceMappingURL=base.css.map */
