@font-face{
  font-family: 'Prudence-Light';
  src: url('../fonts/FF Prudence-Light.suit') format('octet-stream');
}

@font-face{
  font-family: 'FuturaStd-Light';
  src: url('../fonts/FuturaStd-Light.otf') format('opentype');
}

@font-face{
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'sawarabi-mincho';
  src: url('../fonts/sawarabi-mincho-medium.ttf') format('truetype');
}
